@import url('https://fonts.googleapis.com/css2?family=Butcherman&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Julee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Freckle+Face&display=swap');

.scene {
    display: none; /* Initially hide all scenes */
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "Julee", cursive;
    box-shadow: inset 0px 10px 100px 5px black,
                inset 0px -10px 100px 5px black;
}
/* START GAME SCENE */
#scene1 {
    background-color: #faf8e1;
    display: flex; /* Show the first scene initially */
    flex-direction: column;
}
.title{
    /* padding-right: 20%; */
}
.title h3 {
    color: #001d6c;
    font-size: 2rem;
    padding: 0;
    margin: 0;
}
.title h1 {
    color: #001d6c;
    font-size: 7rem;
    line-height: 1.25em;
    margin: 0;
    font-family: "Nanum Brush Script", cursive;
    text-shadow: 2px 2px 8px #000a26;
}
.title1 {
    padding-left: 10%;
    padding-right: 10%;
}
.scene1btns {
    display: flex;
    justify-content: space-evenly;
    padding-left: 20%;
    padding-right: 20%;
}
.scene1btns button {
    background-color: #001d6c;
    color: white;
    font-size: 1.5rem;
    width: 35%;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    font-family: "Julee", cursive;
}
.drip_container {
    width: fit-content;
    position: absolute;
    top: 0;
    left: 0;
}
.drip_container img {
    width: 100vw;
    top: 0;
    left: 0;
}
.soundcontainer {
    position:absolute;
    top: 0;
    right: 0;
    z-index: 1000;
    padding-top: 1dvw;
    padding-right: 1dvw;
    width: fit-content;
    height: auto;
}
.soundcontainer button {
    background-color: #001d6c;
    color: white;
    box-shadow: 1px 1px 10px white;
    font-size: 1.25dvw;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1dvw;
    padding-right: 1dvw;
    font-family: "Julee", cursive;
    transition: 0.5s;
}
.soundcontainer button:hover {
    cursor: pointer;
    background-color: white;
    color: #001d6c;
    box-shadow: 1px 1px 20px white;
}
.scene1container {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}
.mousecontainer {
    height: fit-content;
    width: fit-content;
    padding-top: 44%;
}
.mousecontainer img {
    height: 110%;
    width: 110%;
}
.smokecontainer {
    width: fit-content;
    height: fit-content;
    padding-left: 15%;
    padding-top: 5%;
}
.smokecontainer img {
    width: 170%;
    height: 100%;
}
.middlecontainer {
    padding-top: 15%;
}
.catcontainer {
    width: fit-content;
    height: fit-content;
    padding-top: 15%;
    padding-right: 15%;
}
.catcontainer img {
    width: 200%;
    height: 200%;
}
@media (max-width: 1360px) {
    .catcontainer, .smokecontainer, .mousecontainer {
        display: none;
    }
}
/* SCENE 2 */
#scene2 {
    background-color: #faf8e1;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.walls_container {
    width: fit-content;
    position: absolute;
    top: 0;
    left: 0;
}
.walls_container img {
    width: 100dvw;
    height: 100dvh;
}
#scene2 h3 {
    font-family: 'Creepster';
    color: #001d6c;
    margin: 0;
    padding-left: 3.5dvw;
    padding-bottom: 10px;
    font-size: 25px;
}
.scene2content {
    display: flex;
    flex-direction: row;
    padding: 0;
}
.scene2content #final {
    color: red;
    padding-left: 0.5dvw;
    display: none;
}
.doors {
    height: fit-content;
    width: 70dvw;
    display: flex;
    gap: 5%;
    padding-left: 3.5dvw;
    justify-content: space-evenly;
    /* padding-bottom: 308px; */
    padding-bottom: 33dvh;
    z-index: 1000;
}
.doors img {
    height: 17dvw;
    width: 10dvw;
    transition-duration: 0.3s;
}

.doors a.active {
    background-color: black;
    box-shadow: 0px 0px 30px 1px black,
                0px 0px 30px 1px black
}

.doors img:hover, img::selection{
    cursor: pointer;
    background-color: black;
    box-shadow: 0px 0px 30px 1px black,
                0px 0px 30px 1px black
}
.tracker {
    position:absolute;
    top:0;
    left: 0;
    z-index: 100;
    margin: 0;
    padding-left: 15px;
    padding-top: 15px;
    height: fit-content;
}
.tracker h1 {
    color: white;
    margin: 0;
}
.scene2btn {
    position: absolute;
    display: flex;
    padding-left: 23.5%;
    padding-right: 20%;
    padding-bottom: 150px;
}
.scene2btn button {
    background-color: #001d6c;
    color: white;
    font-size: 1.5rem;
    width: fit-content;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Julee", cursive;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 3px;
    padding-bottom: 3px;
    display: none;
    z-index: 10000;
}
.selected {
    background-color: black;
    box-shadow: 0px 0px 30px 1px black,
                0px 0px 30px 1px black
}

/* RULES SCENE */
#rulescene {
    background-color: #faf8e1;
}
#rulescene p {
    padding-left: 10%;
    padding-right: 10%;
    font-size: 2.5rem;
    color: black;
    margin-bottom: 0;
    font-family: 'Julee';
    text-shadow: 2px 2px 10px white;
}

#rulescene h1 {
    font-size: 5rem;
    padding-top: 10%;
    margin: 0;
    text-shadow: 5px 5px 20px white;
    font-family: 'Creepster';
}
.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #001d6c;
}
.content button {
    background-color: #001d6c;
    color: white;
    font-size: 1.5rem;
    width: 15%;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    font-family: "Julee", cursive;
}
#rulescenebtn:hover, #startbtn:hover, #rulesbtn:hover, #losebtn:hover, #winbtn:hover, #selectbtn:hover, #tomselectbtn:hover {
    cursor: pointer;
    box-shadow: 1px 1px 10px #001d6c;
}

/* DARK SCENE */

#darkscene {
    background-color: #faf8e1;
}

.darkcontent {
    font-family: 'Creepster';
    color: white;
    justify-content: center;
    z-index: 1000;
    animation: flicker 0.5s ease-in-out infinite alternate;
    transition: all 0.5s ease-in-out;
}
@keyframes flicker {
	0% {
		opacity: 0.5;
		text-shadow: 2px 2px 10px white;
	}
	100% {
		opacity: 1;
		text-shadow: 2px 2px 20px white;
	}
}

.darkness {
    height: 100dvh;
    width: 100dvw;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 90%;
}

/* SAFE SCENE */

#safescene {
    background-color: #faf8e1;
}

.safecontent {
    color:#001d6c;
}
#safebtncontent {
    display: flex;
    padding-bottom: 5px;
    justify-content: center;
    padding: 5%;
}
#safebtncontent button {
    background-color: #001d6c;
    color: white;
    font-size: 1.5rem;
    width: fit-content;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Julee", cursive;
    z-index: 10000;
}
#safebtncontent button:hover {
    cursor: pointer;
    box-shadow: 1px 1px 10px #001d6c;
}
.safecontainer {
    display: flex;
    width: 90vw;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

/* SCARY SCENE */

#scaryscene {
    background-color: #faf8e1;
}

#jumpscarescene {
    background-color: black;
}

.scarecontainer {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10%;
}

.scarecontainer img {
    height: 140%;
    width: 100%;
}

.scarycontent {
    font-family: 'Creepster';
    color: white;
    justify-content: center;
    z-index: 1000;
}

.darkness2 {
    height: 100dvh;
    width: 100dvw;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 90%;
}

#scarybtncontent {
    display: flex;
    padding-bottom: 5px;
    justify-content: center;
    padding: 5%;
}
#scarybtncontent button {
    background-color: #001d6c;
    color: white;
    font-size: 1.5rem;
    width: fit-content;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Julee", cursive;
    z-index: 10000;
}
#scarybtncontent button:hover {
    cursor: pointer;
    box-shadow: 0px 0px 3px white;
}
.scarycontainer {
    display: flex;
    justify-content: space-around;
    width: 80vw;
}
.catcontainer1 {
    width: auto;
    height: auto;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}
.catcontainer1 img {
    width: 350%;
    height: 300%;
    animation: jumpy 0.5s ease-in-out infinite alternate;
    transition: all 0.5s ease-in-out;
}
.catcontainer2 {
    width: auto;
    height: auto;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}
.catcontainer2 img {
    width: 350%;
    height: 300%;
    animation: jumpy 0.5s ease-in-out infinite alternate;
    transition: all 0.5s ease-in-out;
}
@keyframes jumpy {
	0% {
		width: 350%;
        height: 300%;
	}
	100% {
		width: 500%;
        height: 400%;
	}
}

/* TOM SCENE */

#tomscene {
    background-color: #faf8e1;
}

#tomcontent {
    display: flex;
    justify-content: space-evenly;
    height: fit-content;
    width: 80vw;
    padding-bottom: 10dvw;
    align-items: center;
}

.tomtext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding-top: 15%;
    padding-right: 10%;
}

.tomcontent2 {
    display: flex;
    flex-direction: row;
    padding: 0;
}
.tomcontent2 #final2 {
    color: red;
    padding-left: 0.5dvw;
    display: none;
}

.tomtext h1 {
    color: #001d6c;
    font-family: 'Creepster';
    margin-top:5px;
    margin-bottom: 5px;
    margin-right: 15px;
}
.circles {
    width: fit-content;
    height: 70dvh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 20dvh;
}
.circles img {
    height: 15%;
}
.hidden {
    visibility: hidden;
}

.topdoors {
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    height: 70dvh;
    width: auto;
    padding-top: 20dvh;
    margin: 0;
    /* padding-bottom: 5dvh; */
}

.topdoors img {
    rotate: 90deg;
    height: 5dvh;
    width: 20dvh;
    transition: 0.3s;
}

.topdoors img:hover {
    cursor: pointer;
    filter: drop-shadow(0 0 7px black);
}
.tracker2 {
    position:absolute;
    top:0;
    left: 0;
    z-index: 100;
    margin: 0;
    padding-left: 15px;
    padding-top: 15px;
    height: fit-content;
}
.tracker2 h1 {
    color: white;
    margin: 0;
}
.tombtn {
    position: absolute;
    display: flex;
    bottom: 0;
    padding-left: 23.5%;
    padding-right: 20%;
    padding-bottom: 100px;
}
.tombtn button {
    background-color: #001d6c;
    color: white;
    font-size: 1.5rem;
    width: fit-content;
    border-radius: 2rem;
    display: none;
    justify-content: center;
    align-items: center;
    font-family: "Julee", cursive;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 3px;
    padding-bottom: 3px;
    /* display: none; */
    z-index: 10000;
}
.selected2 {
    filter: drop-shadow(0 0 7px black);
}
.catpickcontainer {
    padding-left: 30%;
    padding-top: 10%;
}

/* DARK SCENE */

#darkscene {
    background-color: #faf8e1;
}

.darkcontent {
    font-family: 'Creepster';
    color: white;
    justify-content: center;
    z-index: 1000;
    animation: flicker 0.5s ease-in-out infinite alternate;
    transition: all 0.5s ease-in-out;
}
@keyframes flicker {
	0% {
		opacity: 0.5;
		text-shadow: 2px 2px 10px white;
	}
	100% {
		opacity: 1;
		text-shadow: 2px 2px 20px white;
	}
}

.darkness {
    height: 100dvh;
    width: 100dvw;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 90%;
}

/* DARK SCENE */

#tomdarkscene {
    background-color: #faf8e1;
}

.tomdarkcontent {
    font-family: 'Creepster';
    color: white;
    justify-content: center;
    z-index: 1000;
    animation: flicker 0.5s ease-in-out infinite alternate;
    transition: all 0.5s ease-in-out;
}
@keyframes flicker {
	0% {
		opacity: 0.5;
		text-shadow: 2px 2px 10px white;
	}
	100% {
		opacity: 1;
		text-shadow: 2px 2px 20px white;
	}
}

.tomdarkness {
    height: 100dvh;
    width: 100dvw;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 90%;
}

/* RIGHT SCENE */
#rightscene {
    background-color: #faf8e1;
}
#rightbtncontent {
    display: flex;
    padding-bottom: 5px;
    justify-content: center;
    padding: 5%;
}
#rightbtncontent button {
    background-color: #001d6c;
    color: white;
    font-size: 1.5rem;
    width: fit-content;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Julee", cursive;
    z-index: 10000;
}
#rightbtncontent button:hover {
    cursor: pointer;
    box-shadow: 1px 1px 10px #001d6c;
}
.rightcontainer {
    display: flex;
    width: 90vw;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

/* WRONG SCENE */
#wrongscene {
    background-color: #faf8e1;
}
#wrongbtncontent {
    display: flex;
    padding-bottom: 5px;
    justify-content: center;
    padding: 5%;
}
#wrongbtncontent button {
    background-color: #001d6c;
    color: white;
    font-size: 1.5rem;
    width: fit-content;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Julee", cursive;
    z-index: 10000;
}
#wrongbtncontent button:hover {
    cursor: pointer;
    box-shadow: 1px 1px 10px #001d6c;
}
.wrongcontainer {
    display: flex;
    width: 90vw;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

/* LOSE SCENE */

#losescene {
    background-color: #faf8e1;
}

#losecontent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#losecontent h1 {
    font-size: 100px;
    color: #001d6c;
    margin-top: 10px;
    margin-bottom: 10px;
}

#losecontent h2 {
    color: #001d6c;
    margin: 0;
}

#losecontent button {
    background-color: #001d6c;
    color: white;
    font-size: 1.5rem;
    width: fit-content;
    padding: 10px;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Julee", cursive;
}

.losecontainer {
    display: flex;
    width: 90vw;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

/* WIN SCENE */

#winscene {
    background-color: #faf8e1;
}

#wincontent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#wincontent h1 {
    font-size: 100px;
    color: #001d6c;
    margin-top: 10px;
    margin-bottom: 10px;
}

#wincontent h2 {
    color: #001d6c;
    margin: 0;
}

#wincontent button {
    background-color: #001d6c;
    color: white;
    font-size: 1.5rem;
    width: fit-content;
    padding: 10px;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Julee", cursive;
}

.wincontainer {
    display: flex;
    width: 90vw;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}